{% extends 'base.html' %}

{% block content %}
    <table class="table talbe-borderless">
        <thead class="border-bottom font-weight-bolt">
        <tr>
            <td>Full name</td>
            <td>Mobile</td>
            <td>Position</td>
            <td>
                <a href="{% url 'insert' %}" class="btn btn-outline-success">
                    <i class="fas fa-plus"></i>Add
                </a>
            </td>
        </tr>
        </thead>
        <tbody>
        {% for empl in employee_list %}
            <tr>
                <td>{{ empl.fullname }}</td>
                <td>{{ empl.phone_number }}</td>
                <td>{{ empl.position }}</td>
                <td>
                    <a href="{% url 'update' empl.id %}" class="btn text-secondary px-0">
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                    <form action="{% url 'delete' empl.id %}" method="post" class="d-inline">
                        {%  csrf_token %}
                        <button type="submit" class="btn">
                            <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}