{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}


{% block content %}
    <form action="" method="post" autocomplete="off">
        {% csrf_token %}
        {{ form.fullname|as_crispy_field }}
        {{ form.phone_number|as_crispy_field }}
        <div class="row">
            <div class="col-md-4">
                {{ form.employee_code|as_crispy_field }}
            </div>
            <div class="col-md-8">
                {{ form.position|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-cloud-upload-alt"></i>
                     Submit
                </button>
            </div>
            <div class="col-md-4">
                <a href="{% url 'list' %}" class="btn btn-secondary btn-block btn-lg">
                    <i class="fas fa-stream"></i>  Back to list
                </a>
            </div>
        </div>

    </form>
{% endblock %}